* {
    margin: 0;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #efeff5;
    display: flex;
    flex-direction: column;
}
.topempty {
    height: 20px;
}
.item {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.item:active {
    background-color: #F5F5F5;
}
.title {
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.right {
    margin-right: 10px;
    font-size: 13px;
    color: gray;
}
.emptyline {
    height: 20px;
}
.item-vip {
    background-color: #E74C3C;
}
.item-vip > .title {
    color: #F5DE19;
}